.c{
    border: 2px solid black;
    height: 250px;
    width: 100%;
    background: linear-gradient(red,yellow,green,blue);
}
.c h1{
    text-align: center;
    font-size:50px ;
    text-transform: capitalize;


}
.c1{
    border: 2px solid black;
    height: 250px;
    width: 100%;
    background: repeating-radial-gradient( circle, red 0% 2%,yellow 2% 4%);
}
.c1 h1{
    text-align: center;
    font-size:50px ;
    text-transform: capitalize;


}
.c2{
    border: 2px solid black;
    height: 250px;
    width: 100%;
    background: conic-gradient(red,yellow,green,blue,red);
}
.c2 h1 {
    text-align: center;
    font-size:50px ;
    text-transform: capitalize;



}